body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.upper{
    width: 45vw;
    height: 32vh;
    background-color: rgb(83, 83, 255);
    border-radius: 25px 25px 0 0;
    /* margin-top: 30px; */
    z-index: 1;
}

.lower{
    width: 45vw;
    height: 65vh;
    background-color: white;
    border-radius: 0 0 5% 5%;
    box-shadow: 0px 0px 100px 1px gray;
}

img{
    border-radius: 50%;
    width: 35%;
    border: 6px solid white;
    outline: 6px solid rgb(83, 83, 255);
}

.shifter{
    width: 45vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50%;
    z-index: 2;
    /* border: 2px solid black; */
}

p{
    font-size: 1.3rem;
    margin-top: -2%;
    /* margin-bottom: 40px; */
    color: rgb(99, 98, 98);
}

.fa-facebook{
    color: blue;
    margin-right: 40px;
    margin-top: 5%;
}

.fa-twitter{
    color: rgb(0, 188, 235);
    margin-right: 40px;
}

.fa-instagram {
    color: rgb(255, 0, 43);
    margin-right: 40px;
}

.fa-youtube {
    color: red;
}

button{
    width: 200px;
    height: 55px;
    margin: 5% 30px;
    font-size: 25px;
    background-color: rgb(83, 83, 255);
    border-radius: 30px;
    color: white;
}

button:hover{
    background-color: blue;
}

.icons{
    margin-right: 2%;
    margin-top: 5%;
}

.likecom{
    font-size: 2rem;
    margin-right: 15%;
    align-self: flex-end;
}

.separator{
    color: rgba(128, 128, 128, 0.452);
    font-size: 3rem;
    margin-right: 15%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

